<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Panorama de servicios</h3>
	</div>
	<div class="box-body">
			<%= pie_chart @logs.group(:response_code).count %>
			<%#= line_chart @logs.group_by_hour(:created_at).group(:action_id).group(:response_time).count, {library: {hAxis: {title: "Hora"}, vAxis: {title: "Tiempo respuesta"}}} %>
	</div>
	<div class="box-footer">
	</div>
</div>
