<div class="box">
	<% if @service.present? %>
	<div class="box-header with-border">
		<h3 class="box-title"><%=@service.name%></h3>
	</div>
	<%@service.actions.each do |action|%>
		<div class="box-body">
			<h4 class="box-title"><%=action.name%></h4>
			<%= line_chart action.logs.group_by_hour(:created_at).count, {library: {hAxis: {title: "Hora"}, vAxis: {title: "Tiempo respuesta"}}} %>
		</div>
	<% end %>
	<div class="box-footer">
	</div>
	<% end %>
</div>
