<!-- Condicional -->
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Crear nuevo receptor</h3>
	</div>
	<div class="box-body">
		<form role="form">
			<div class="box-body">
				<div class="form-group">
					<label for="InputEmail">Email</label>
					<input type="email" class="form-control" id="InputEmail" name="email" placeholder="Agrgar email">
				</div>
				<div class="form-group">
					<label for="InputName">Nombre</label>
					<input type="text" class="form-control" id="InputName" name="name" placeholder="Agegar nombre">
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" checked="checked"> Alertas por email
					</label>
<!-- 					<br/>
					<label>
						<input type="checkbox"> Check me out
					</label> -->
				</div>
			</div>
			<div class="box-footer">
				<button type="submit" name="submit" class="btn btn-primary">Agregar</button>
			</div>
		</form>
	</div>
	<div class="box-footer">
	</div>
</div>
<!-- Fin condicional -->
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Receptores</h3>
	</div>
	<div class="box-body">
		<table class="table table-bordered">
			<tbody><tr>
				<th style="width: 10px"></th>
				<th>Correo electronico</th>
				<th>Nombe</th>
				<th style="width: 40px">Plataformas</th>
			</tr>
			<% @receivers.each do |receiver| %>
			<tr>
				<td></td>
				<td><%=receiver.email%></td>
				<td><%=receiver.name%></td>
				<td style="text-align: center;">
					<% if receiver.platform_email %><i class="glyphicon glyphicon-envelope"></i><% end %>
					<% if receiver.platform_mobile %><i class="glyphicon glyphicon-phone"></i><% end %>
				</td>
			</tr>
			<% end %>
		</tbody></table>
	</div>
	<div class="box-footer clearfix">
<!-- 		<ul class="pagination pagination-sm no-margin pull-right">
			<li><a href="#">«</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">»</a></li>
		</ul> -->
	</div>
</div>
