<!-- Condicional -->
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Crear nuevo receptor</h3>
	</div>
	<div class="box-body">
		<form role="form">
			<div class="box-body">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="exampleInputFile">File input</label>
					<input type="file" id="exampleInputFile">

					<p class="help-block">Example block-level help text here.</p>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> Check me out
					</label>
				</div>
			</div>
			<div class="box-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
	<div class="box-footer">
	</div>
</div>
<!-- Fin condicional -->
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Receptores</h3>
	</div>
	<div class="box-body">
		<table class="table table-bordered">
			<tbody><tr>
				<th style="width: 10px"></th>
				<th>Correo electronico</th>
				<th>Nombe</th>
				<th style="width: 40px">Plataformas</th>
			</tr>
			<tr>
				<td></td>
				<td>jperez@ble.cl</td>
				<td>Juan Perez</td>
				<td><span class="badge bg-red">55%</span></td>
			</tr>
			<tr>
				<td></td>
				<td>fpija@gmail.com</td>
				<td>Fel pija</td>
				<td><span class="badge bg-yellow">70%</span></td>
			</tr>
			<tr>
				<td></td>
				<td>plgrande@ñ.cl</td>
				<td>Pedro el grande</td>
				<td><span class="badge bg-light-blue">30%</span></td>
			</tr>
			<tr>
				<td></td>
				<td>Juan pablo escalopa</td>
				<td>jpe@jp.cl
				</td>
				<td><span class="badge bg-green">90%</span></td>
			</tr>
		</tbody></table>
	</div>
	<div class="box-footer clearfix">
		<ul class="pagination pagination-sm no-margin pull-right">
			<li><a href="#">«</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">»</a></li>
		</ul>
	</div>
</div>
